<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <include file="$(find nhk2021_simulator)/launch/4wd_mecanum_simulation.launch"/>

    <!-- gmapping -->
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" clear_params="true">
      <rosparam command="load" file="$(find nhk2021_simulator)/config/gmapping.yaml" />
      <remap from="scan" to="/scan_filtered" />
      <param name="base_frame" value="base_footprint" />
      <param name="odom_frame" value="odom" />
      <param name="map_frame"  value="map" />
    </node>
</launch>