<launch>
    <node pkg="serial_test" name="mbed_baffle_over" type="serial_test_node" output="screen" respawn="true">
        <!--param name = "port" value = "/dev/ttyACM1"/>-->
        <param name = "looprate" value = "400"/>
        <param name = "port" value = "/dev/serial/by-id/usb-STMicroelectronics_STM32_STLink_066FFF303435554157121318-if02"/>
        <remap from = "/Serial_sub_int" to = "/baffle_over_flag" />
    </node>

    <!-- kabu unit mbed serial -->
    <!-- 066BFF333535554157133731 -->

    <!-- baffle_over -->
    <node pkg="nhk2021_launcher" type="baffle_over_flag_pub.py" name="baffle_over_flag_pub"/>

</launch>