<launch>
  <!--path_planning_node-->
  <arg name="control_frequency" default="30" />
  <arg name="use_tf" default="true" />
  <arg name="angle_source" default="imu" />
  <arg name="csv_path" default="$(find nhk2021_launcher)/config/waypoints/TR" />
  <arg name="acc_lim_xy" default="2.0" />
  <arg name="max_vel_xy" default="3.0" /><!--3.0-->
  <arg name="acc_lim_theta" default="3.2" />
  <arg name="max_vel_theta" default="3.14" /><!--3.14-->
  <arg name="initial_vel" default="0.5" />
  <arg name="corner_speed_rate" default="0.8" />
  <arg name="global_frame_id" default="map" />
  <arg name="base_frame_id" default="base_footprint" />
  <arg name="xy_goal_tolerance" default="0.05" />
  <arg name="yaw_goal_tolerance" default="0.05" />
  <arg name="fix_angle_gain" default="2.0" />
  <arg name="path_granularity" default="0.001" />

  <!--swerve node-->
  <arg name="initial_table_angle" default="90"/>


    <!-- ################ rosbag setting ################ -->
    <!-- <arg name="input_rosbag" default="/root/rosbag/210730.bag" />
    <arg name="play_speed" default="1.0" />
    <arg name="start_time" default="730.0" /> -->
  
    <arg name="input_rosbag" default="/root/rosbag/210730_1.bag" />
    <arg name="play_speed" default="1.0" />
    <arg name="start_time" default="0.0" />

    <param name="/use_sim_time" value="true" />
    <!--rosbag play-->
    <node pkg="rosbag" type="play" name="rosbag_play" args="$(arg input_rosbag) --clock -r $(arg play_speed) -s $(arg start_time)" output="screen" />

    <!-- <node pkg="swerve_wheelctrl" type="swerve_wheelctrl" name="swerve_wheelctrl2" output="screen">
      <param name="control_frequency" value="$(arg control_frequency)"/>
      <param name="lost_time_threshold" value="500"/>
      <param name="body_width" value="0.440"/>
      <param name="initial_table_angle" value="$(arg initial_table_angle)"/>
      <param name="gazebo_mode" value="false"/>
      <remap from = "/control_RF" to = "/fixed_control_RF" />
      <remap from = "/control_LF" to = "/fixed_control_LF" />
      <remap from = "/control_RB" to = "/fixed_control_RB" />
      <remap from = "/control_LB" to = "/fixed_control_LB" />
    </node> -->

  <arg name="rvizconfig" default="$(find nhk2021_simulator)/config/localization.rviz" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig) -f map" required="true" />


</launch>
