<launch>

  <!--frequency [Hz]-->

  <arg name="control_frequency" default="30" />
  <arg name="zone" default="blue" />
  <arg name="use_odom_tf" default="false" />
  <arg name="csv_path" default="$(find pkg_manager_tr)/config/waypoints" />
  <arg name="max_accel" default="3.0" />
  <arg name="max_vel" default="1.5" />
  <arg name="corner_speed_rate" default="0.8" />
  <arg name="global_frame_id" default="odom" />


  <!--path_planning_node-->

  <node pkg="bezier_path_planning_pursuit" name="path_planning_pursuit" type="path_planning_pursuit" output="screen">
    <param name= "control_frequency" value="$(arg control_frequency)" />
    <param name = "zone" value = "$(arg zone)" />
    <param name = "use_odom_tf" value = "$(arg use_odom_tf)" />
    <param name = "data_path" value = "$(arg csv_path)" />
    <param name = "max_accel" value = "$(arg max_accel)" />
    <param name = "max_vel" value = "$(arg max_vel)" />
    <param name = "corner_speed_rate" value = "$(arg corner_speed_rate)" />
    <param name = "global_frame_id" value = "$(arg global_frame_id)" />
    <remap from="cmd_vel" to="/Sample_sp1/diff_drive_controller/cmd_vel" />
    <remap from="odom" to="/Sample_sp1/diff_drive_controller/odom" />
  </node>

  <node pkg="wheelctrl_4ws" type="wheelctrl_4ws" name="wheelctrl_4ws" output="screen">
    <param name="control_frequency" value="$(arg control_frequency)"/>
    <param name="lost_time_threshold" value="500"/>
    <param name="body_width" value="0.440"/>
  </node>

    <node pkg="bno055_usb_stick" type="bno055_usb_stick_node" name="bno055" output="screen">
    <param name="publish_tf" value="true"/>
  </node>


</launch>
