<launch>
    <!-- arrow_table -->
    <node pkg="serial_test" name="mbed_arrow_table" type="serial_test_node" output="screen" respawn="true">
      <param name = "port" value = "/dev/serial/by-id/usb-STMicroelectronics_STM32_STLink_066DFF495649657867251820-if02"/>
      <param name = "looprate" value = "200"/>
      <remap from = "/Serial_sub_float" to = "/arrow_table_angle" />
      <remap from = "/Serial_sub_string" to = "/arrow_thrower_emergency_stop" />
      <remap from = "/Serial_pub_float" to = "/data_arrow_table_angle" />
    </node>

    <!-- arrow_thrower -->
    <node pkg="serial_test" name="mbed_thrower1" type="serial_test_node" output="screen" respawn="true">
      <param name = "port" value = "/dev/serial/by-id/usb-STMicroelectronics_STM32_STLink_066EFF303032424257010822-if02"/>
      <param name = "looprate" value = "200"/>
      <remap from = "/Serial_sub_float" to = "/thrower1_power" />
      <remap from = "/Serial_sub_string" to = "/arrow_thrower_emergency_stop" />
      <remap from = "/Serial_sub_int" to = "/thrower_flag" />
      <remap from = "/Serial_pub_float" to = "/thrower1_status" />
    </node>
    <node pkg="serial_test" name="mbed_thrower2" type="serial_test_node" output="screen" respawn="true">
      <param name = "port" value = "/dev/serial/by-id/usb-STMicroelectronics_STM32_STLink_066FFF515055657867244552-if02"/>
      <param name = "looprate" value = "200"/>
      <remap from = "/Serial_sub_float" to = "/thrower2_power" />
      <remap from = "/Serial_sub_string" to = "/arrow_thrower_emergency_stop" />
      <remap from = "/Serial_sub_int" to = "/thrower_flag" />
      <remap from = "/Serial_pub_float" to = "/thrower2_status" />
    </node>
    <node pkg="serial_test" name="mbed_thrower3" type="serial_test_node" output="screen" respawn="true">
      <param name = "port" value = "/dev/serial/by-id/usb-STMicroelectronics_STM32_STLink_0670FF303032424257022727-if02"/>
      <param name = "looprate" value = "200"/>
      <remap from = "/Serial_sub_float" to = "/thrower3_power" />
      <remap from = "/Serial_sub_string" to = "/arrow_thrower_emergency_stop" />
      <remap from = "/Serial_sub_int" to = "/thrower_flag" />
      <remap from = "/Serial_pub_float" to = "/thrower3_status" />
    </node>
    <node pkg="serial_test" name="mbed_thrower4" type="serial_test_node" output="screen" respawn="true">
      <param name = "port" value = "/dev/serial/by-id/usb-STMicroelectronics_STM32_STLink_066DFF303032424257021639-if02"/>
      <param name = "looprate" value = "200"/>
      <remap from = "/Serial_sub_float" to = "/thrower4_power" />
      <remap from = "/Serial_sub_string" to = "/arrow_thrower_emergency_stop" />
      <remap from = "/Serial_sub_int" to = "/thrower_flag" />
      <remap from = "/Serial_pub_float" to = "/thrower4_status" />
    </node>
    <node pkg="serial_test" name="mbed_thrower5" type="serial_test_node" output="screen" respawn="true">
      <param name = "port" value = "/dev/serial/by-id/usb-STMicroelectronics_STM32_STLink_066EFF393935424257101328-if02"/>
      <param name = "looprate" value = "200"/>
      <remap from = "/Serial_sub_float" to = "/thrower5_power" />
      <remap from = "/Serial_sub_string" to = "/arrow_thrower_emergency_stop" />
      <remap from = "/Serial_sub_int" to = "/thrower_flag" />
      <remap from = "/Serial_pub_float" to = "/thrower5_status" />
      <remap from = "/Serial_pub_int" to = "/thrower5_int" />
    </node>


</launch>