<launch>
  <!--simulation or real-->
  <arg name="mode" default="real"/>

  <!--path_planning_node-->
  <arg name="control_frequency" default="50" />
  <arg name="base_frame_id" default="base_footprint" />
  <arg name="RB_recovery_mode"/>

  <group if="$(eval mode=='simulation')">
    <!-- controller -->
    <node pkg="swerve_wheelctrl" type="swerve_wheelctrl" name="swerve_wheelctrl" output="screen">
      <param name="control_frequency" value="$(arg control_frequency)"/>
      <param name="lost_time_threshold" value="500"/>
      <param name="body_width" value="0.440"/>
      <param name="initial_table_angle" value="90"/>
      <param name="gazebo_mode" value="true"/>
      <remap from="control_RF" to="/simple_swerve/rf_joint_velocity_controller/command" />
      <remap from="control_LF" to="/simple_swerve/lf_joint_velocity_controller/command" />
      <remap from="control_LB" to="/simple_swerve/lb_joint_velocity_controller/command" />
      <remap from="control_RB" to="/simple_swerve/rb_joint_velocity_controller/command" />
      <remap from="control_RF_angle" to="/simple_swerve/rf_joint_angular_controller/command" />
      <remap from="control_LF_angle" to="/simple_swerve/lf_joint_angular_controller/command" />
      <remap from="control_LB_angle" to="/simple_swerve/lb_joint_angular_controller/command" />
      <remap from="control_RB_angle" to="/simple_swerve/rb_joint_angular_controller/command" />
    </node>
      
    <node pkg="swerve_odom_publisher" type="swerve_odom_publisher" name="swerve_odom_publisher" output="screen">
      <param name="control_frequency" value="$(arg control_frequency)"/>
      <param name="base_frame_id" value="$(arg base_frame_id)"/>
      <param name="body_width" value="0.440"/>
      <param name="initial_table_angle" value="90"/>
      <param name="gazebo_mode" value="true"/>
    </node>
  </group>

  <group if="$(eval mode=='real')">
    <!-- ################ statis tf settings ################ -->
    <param name="robot_description" textfile="$(find nhk2021_launcher)/urdf/TR.urdf" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    
    <!-- sensors and mbed devices -->
    <include file="$(find nhk2021_launcher)/launch/TR/bringup/sensor_activate_TR.launch"/>

    <include file="$(find nhk2021_launcher)/launch/TR/bringup/activate_wheel_TR.launch">
      <arg name="RB_recovery_mode" value="$(arg RB_recovery_mode)" />
    </include>

    <include file="$(find nhk2021_launcher)/launch/TR/bringup/activate_arrow_thrower.launch"/>

    <!-- emergency stopper of arrow table and throwers -->
    <node pkg="nhk2021_launcher" type="arrow_thrower_emergency_stopper.py" name="arrow_thrower_emergency_stopper"/>

    <!-- controller -->
    <node pkg="swerve_wheelctrl" type="swerve_wheelctrl" name="swerve_wheelctrl" output="screen">
      <param name="control_frequency" value="$(arg control_frequency)"/>
      <param name="lost_time_threshold" value="500"/>
      <param name="body_width" value="0.440"/>
      <param name="initial_table_angle" value="90"/>
      <param name="gazebo_mode" value="false"/>
    </node>
          
    <node pkg="swerve_odom_publisher" type="swerve_odom_publisher" name="swerve_odom_publisher" output="screen">
      <param name="control_frequency" value="$(arg control_frequency)"/>
      <param name="base_frame_id" value="$(arg base_frame_id)"/>
      <param name="body_width" value="0.440"/>
      <param name="initial_table_angle" value="90"/>
      <param name="gazebo_mode" value="false"/>
      <param name="RB_recovery_mode" value="$(arg RB_recovery_mode)" />
    </node>
  </group>

  <!-- arrow table and thrower driver-->
  <include file="$(find arrow_table_commander)/launch/arrow_table_commander.launch">
    <arg name="control_frequency" value="$(arg control_frequency)" />
    <arg name="base_frame_id" value="$(arg base_frame_id)" />
  </include>

  <!-- Joy controller -->
  <node pkg="joy" type="joy_node" name="joy_node"/>

  <node pkg="joy_commander" type="joy_commander" name="joy_commander" output="screen">
    <param name="control_frequency" value="$(arg control_frequency)"/>
    <param name = "acc_lim_xy" value = "2.0" />
    <param name = "max_vel_xy" value = "1.0" />
    <param name = "acc_lim_theta" value = "1.57" />
    <param name = "max_vel_theta" value = "0.785" />
    <remap from = "teleopflag" to = "/task_selector/teleop_mode"/>
  </node>

</launch>
