<launch>
  <!--path_planning_node-->
  <arg name="control_frequency" default="50" />
  <arg name="base_frame_id" default="base_footprint" />

  <!-- pot tf (temporary static) -->
  <node pkg="tf" type="static_transform_publisher" name="map_to_pot1" args="5.67 7.975 0 0 0 0 map pot1 1" />
  <node pkg="tf" type="static_transform_publisher" name="map_to_pot2" args="3.45 6.30 0 0 0 0 map pot2 1" />
  <node pkg="tf" type="static_transform_publisher" name="map_to_pot3" args="5.95 6.30 0 0 0 0 map pot3 1" />
  <node pkg="tf" type="static_transform_publisher" name="map_to_pot4" args="8.45 6.30 0 0 0 0 map pot4 1" />
  <node pkg="tf" type="static_transform_publisher" name="map_to_pot5" args="5.67 3.95 0 0 0 0 map pot5 1" />

  <node pkg="tf" type="static_transform_publisher" name="pot_table_central" args="-0.1315 0 0.2 0 0 0 base_footprint pot_table_central 1" />

  <node pkg="arrow_table_commander" type="arrow_table_commander" name="arrow_table_commander" output="screen">
    <param name= "control_frequency" value="$(arg control_frequency)" />
    <param name = "base_frame_id" value = "$(arg base_frame_id)" />
  </node>

</launch>
